#external: true
#micronaut:
#  application:
#    name: jcml
#datasources:
#  default:
#    driver-class-name: com.microsoft.sqlserver.jdbc.SQLServerDriver
#    db-type: mssql
#    schema-generate: CREATE_DROP
#    dialect: SQL_SERVER
#test-resources.containers.mssql.accept-license: false
